* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: sans-serif;
  font-size: 40px;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 30px;
/*grid-template-columns: [um] 1fr 
    [dois] 1fr 
    [tres] 1fr 
    [quatro];
  grid-template-rows: [um] 1fr 
    [dois] 1fr 
    [tres] 1fr 
    [quatro]; */
}

.grid div {
  background: turquoise;
  min-height: 100px;
}

.grid div:nth-child(5) {
  background: burlywood;
/*  grid-column: span 3;
  grid-area: 1 / 1 / 5 / 3;
  grid-column-start: um;
  grid-column-end: quatro;
  grid-column: span 1 / 4;
  grid-column: span 2 / span 2;
  grid-row: 1 / 4; */
}


