* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(137, 242, 137);
  height: 500px;
}

.flex-item {
  color: #fff;
  background: blue;
  margin: 10px;
  /* width: 100%; */
}

.flex-item:nth-child(3) {
  font-size: 40px;
}

}