* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: rgb(137, 242, 137);
  height: 500px;
}

.flex-item {
  color: #fff;
  background: blue;
  margin: 10px;
}
