* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: -inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  background: rgb(137, 242, 137);
  height: 640px;
}

.flex-item {
  width: 33.33%;
  color: #fff;
  background: blue;
}
