/*
      ID    Classes, atributos e pseudo-classes Elementos   e pseudo-elementos.
#p    1                         0                                 0   
.p    0                         1                                 0
#p.p  1                         1                                 0
p#p.p 1                         1                                 1 
      etc
*/

body#b.bclass p#p.p { /*222*/
  background: purple; 
}

#p { /*100*/
  background: blue; 
}

.p { /*010*/
  background: yellow;
}

#p.p { /*110*/
  background: green;
}

p#p.p { /*111*/
  background: goldenrod;
}