.Box-Model {
  background: yellow;
  color: blue;
  width: 190px;
  height: 190px;
  overflow: auto;
}

/* propriedades que controlam o tamanho do conteúdo no Box-Model.
max-height: 100%
max-width: 100%
min-height: 0
min-width: 0
*/