.form-field::placeholder {
  color: red;
}

::placeholder {
  color: green;
}

p::first-letter {
  font-size: 120px;
  display: block;
  float: left;
  margin: 0 10px 10px 0;
}

p::first-line {
  color: blue;
}

p::selection {
  background: black;
  color: white;
}


/* pseudo-elementos (::) 
ul li::after { -> depois
  content: " - CSS3";
  background: blue;
  color: #fff;
  display: block;
}

ul li::before { -> antes
  content: " - CSS3";
  background: blue;
  color: #fff;
  display: block;
} */


/* -- pseudo-classes (:)
ul li:nth-child(even) {
  background-color: rebeccapurple;
}

ul li:nth-child(odd) {
  background-color: darkturquoise;
}

ul li:nth-child(3n) {
  background-color: palegoldenrod;
}

ul li:nth-child(3n + 10) {
  background-color: plum;
}


p:nth-child(even) {
  background-color: rebeccapurple;
}

p:nth-child(odd) {
  background-color: darkturquoise;
}

p:nth-child(3n) {
  background-color: palegoldenrod;
}

p:nth-child(3n + 10) {
  background-color: plum;
} */