.heading {
  transition: all 300ms ease-in-out;
}

.heading:hover {
  background: blue;
}

a {
 color: darkorange;   /*todos os links*/
}

a:link {
  color: deeppink;   /*links nunca visitados*/
}

a:visited {
  color: firebrick;   /*links que já foram visitados*/
}

a:hover {
  background-color: darkslategray; /*muda a cor dos links passando o mouse*/
  color: white;
  text-decoration: none;
}

a:active {
  background-color: darkslateblue; /*muda a cor dos links clicando com o mouse*/
  color: white;
  text-decoration: none;
}

input:checked + p {
  background: blue;
}

.pai .lista li:first-child {
  background: blue;
}

.pai .lista li:last-child {
  background: green;
}

input:required {
  background: blueviolet;
}



/* metade da aula foi sobre seletores pseudo-classes, acima outra parte da aula
  input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  outline: none;
  border: 1px solid black;
}

input:enabled {
  background: rebeccapurple;
  cursor: not-allowed;
} */